<p *ngIf="!forecasts"><em>Loading...</em></p>

<div class="row">
	<div class="col">
		
    <h1>Trip Planner</h1>

    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
				{{selectedCity.name === ''?'Please Select a City': selectedCity.name}}
			</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div *ngFor="let forecast of forecasts">
            <button ngbDropdownItem (click)="OnSelectCity(forecast)">{{ forecast.name }}</button>
          </div>
      </div>
    </div>

    
    <div class="col">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Short Description" (shown)="true">
          <ng-template ngbPanelContent>
            {{ selectedCity.shortDescription }}
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Current Weather" (shown)="true">
          <ng-template ngbPanelContent>
            {{ selectedCity.currentWeather }}
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Current Week Weather" (shown)="true">
          <ng-template ngbPanelContent>
            {{ selectedCity.currentWeekWeather }}
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>    
	</div>
</div>
